*{
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #111;
}
@media (max-width: 800px){
  .home-image{
    display: none;
}
}
#home {
  padding: 220px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home-image{
  align-items: center;
}
.home-text{
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.8);
  }
.home-text h1{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  text-align: center;
}
.home-text h2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #986dff;
  padding: 10px 10px;
  text-align: center;
}
p{
  display: flex;
  color: white;
  padding: 200px 50px;
  word-break: break-word;
  font-size: 30px;
}
footer {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 15px;
}