body{
  background-color: #0A0609;
  font-family: "Inter", sans-serif;
}

h1{
  font-size: 100px;
  text-align: center;
  color: #F9F5F8;
}

.pfp-image img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

footer {
  color: #F9F5F8;
  text-align: center;

}