*{
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #111;
}
header {
  background-color: #111;
  position: fixed;
  width: 100%;
}
nav {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item a{
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: 0.1s;
}
.nav-item a:hover{
  color: white;
}
.nav-menu {
  list-style: none;
  display: flex;
}
.nav-item{
  margin: 20px;
}
.menu{
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
.menu .bar{
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 5px;
  background: #986dff;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),.menu .bar:nth-child(3){
  background: white;
}
@media (max-width: 800px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
  }
  .menu{
    display: block;
  }
  .menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 250px;
    top: 72px;
    right: -100%;
    position: fixed;
    background: #111;
    transition: 0.3s;
  }
  .nav-item{
    margin-trim: 10px;
    margin: 15px;
  }
  .nav-menu.ativo{
    right: 0;
    width: 100px;
    height: 220px;
    border-color: #986dff;
    border-style: solid;
    border-width: 1px;
  }
  .home-image{
    display: none;
  }
}
#home{
  padding: 35vh 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.home-text h1, .home-text h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-text h1 {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.5);
}
.home-text h2 {
  font-size: 60px;
  color: #986dff;
  padding: 1px 10px 15px;
}
p{
  padding: 200px 10vw;
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  word-break: break-word;
  font-size: 30px;
}
footer {
  padding: 10px 10px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 15px;
}