*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
width : 8px;
}
::-webkit-scrollbar-track {
background-color : #111111;
}
::-webkit-scrollbar-thumb {
background-color : #986dff;
border-radius : 10px;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #111111;
}
/* Header */
header {
  background-color: #111111;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
nav {
  padding: 5px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item a{
  color: #939393;
  text-decoration: none;
  font-size: 25px;
  margin: 30px;
}
.nav-item a:hover{
  color: white;
}
.nav-menu {
  list-style: none;
  display: flex;
}
.menu{
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
.menu .bar{
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #986dff;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),.menu .bar:nth-child(3){
  background: white;
}
/* Home */
#home{
  padding: 4rem 3rem ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  scroll-snap-align: start;
}
.home-image{
  padding-top: 120px;
}
.home-texts h1, .home-texts h2 {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-texts h1 {
  font-size: 40px;
  color: #939393;
}
.home-texts h2 {
  font-size: 60px;
  color: #986dff;
  padding-bottom: 10px;
}
/* About */
#about{
  background-color: #111111;
  padding: 5rem 0 0 0;
}
.about-container{
  padding: 0 0 0 0;
  display: flex;
  flex-direction: column;
  background-color: #151515;
}
.about-container h1{
  padding: 2rem 0;
  font-size: 2.5rem;
  color: #986dff;
  text-align: center;
}
.about-container p{
  font-size: 1.5rem;
  color: #939393;
  padding: 0 15vw 3rem 15vw;
  text-align: left;
}
/* Projects */
#projects{
  background-color: #111111;
}
#projects h1{
  text-align: center;
  color: #986dff;
  font-size: 2.5rem;
  padding: 1.5rem 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 0fr));
  padding: 0 5vw 50px;
  gap: 40px 20px;
  justify-content: center;
  justify-items: center;
}
.project{
  background-color: #111111;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  max-width: 15rem;
  min-height: 20rem;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #986dff;
}
.project h2, p, a{
  color: #939393;
  font-weight: lighter;
}
.project img{
  border-radius: 2rem;
  align-self: center;
  max-width: 15rem;
  padding: 1rem;
  pointer-events: none;
}
.project-description{
  padding: 0 1vw;
  font-weight: lighter;
}
.project a{
  color: white;
  background-color: #986dff;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: bold;
  margin: 15px 0 0 0;
  transition: all 0.1s;
}
.project a:hover {
  opacity: 75%;
}
/* Contact */
#contact{
  background-color: #151515;
  padding: 0 0 0 0;
}
#contact h1{
  text-align: center;
  color: #986dff;
  font-size: 2.5rem;
  padding: 30px 0;
}
#contact p{
  font-size: 1.5rem;
  color: #939393;
  padding: 0 15vw 3rem 15vw;
  text-align: left;
}
#contacts {
  padding: 0 20vw 2rem 20vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.contact-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.contact-infos h2{
  margin: 1rem;
  text-align: center;
  color: #939393;
  font-size: 1.5rem;
  font-weight: lighter;
}
/* Footer */
footer{
  background-color: #111111;
  display: flex;
  padding: 2rem 0;
  justify-content: center;
}
footer a{
  text-decoration: none;
  color: #939393;
  font-size: 19px;
}
/* Responsive */
@media (max-width: 1200px) {
  .home-image{
    display: none;
  }
  #home{
    padding: 15rem 0;
  }
}
@media (max-width: 999px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu{
    display: block;
  }
  .menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 250px;
    top: 75px;
    right: -100%;
    position: fixed;
    background: #111111;
    transition: 0.3s;
  }
  .nav-item{
    margin: 15px;
  }
  .nav-menu.ativo{
    right: 0;
    width: 130px;
    height: 220px;
    border-color: #986dff;
    border-style: solid;
    border-width: 1px;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(400px, 0fr));
  }
  #contacts {
    flex-direction: column;
  }
}