*{
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: #111;
}
::-webkit-scrollbar-thumb{
  background-color: #986dff;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #111;
}
header {
  background-color: #111;
  position: fixed;
  width: 100%;
}
nav {
  padding: 10px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-item a{
  font-size: 18px;
  color: gray;
  text-decoration: none;
  transition: 0.1s;
}
.nav-item a:hover{
  color: whitesmoke;
}
.nav-menu {
  list-style: none;
  display: flex;
}
.nav-item{
  margin: 30px;
}
.menu{
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
  display: none;
}
.menu .bar{
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #986dff;
  margin: 5px auto;
  transition: all 0.3s;
}
.menu .bar:nth-child(1),.menu .bar:nth-child(3){
  background: white;
}
@media (max-width: 999px) {
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu{
    display: block;
  }
  .menu.ativo .bar:nth-child(1){
    transform:  translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
    opacity: 0;
  }
  .menu.ativo .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 250px;
    top: 102px;
    right: -100%;
    position: fixed;
    background: #111;
    transition: 0.3s;
  }
  .nav-item{
    margin-trim: 10px;
    margin: 15px;
  }
  .nav-menu.ativo{
    right: 0;
    width: 130px;
    height: 220px;
    border-color: #986dff;
    border-style: solid;
    border-width: 1px;
  }
  .home-image{
    display: none;
  }
}
#home{
  padding: 270px 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.home-texts h1, .home-texts h2 {
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.home-texts h1 {
  font-size: 55px;
  color: gray;
}
.home-texts h2 {
  font-size: 65px;
  color: #986dff;
  padding-bottom: 10px;
}
#about{
  background-color: #151515;
  margin: 3vw 15vw;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: gray;
  display: flex;
  flex-direction: column;
  word-break: break-word;
  line-height: 35px;
}
#about h1{
  padding: 35px;
  font-size: 30px;
  color: #986dff;
  text-align: center;
}
#about p{
  font-size: 25px;
  color: gray;
  text-align: center;
  padding: 0 5vw 50px;
}
footer {
  padding: 10px 10px;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
}
